<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>BeNICiO - Benevolent Network Interface Configuration toOl</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">BeNICiO</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ url_for('rules') }}">Rules</a></li>
                    <li><a href="{{ url_for('groups') }}">Groups</a></li>
                    <li><a href="{{ url_for('devices') }}">Devices</a></li>
                    <li><a href="{{ url_for('apply_rules') }}">Apply Rules</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block alerts %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category %}
    <div class="alert alert-{{ category }}">
        {% else %}
        <div class="alert">
            {% endif %}
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}
        <div class="row">
            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<script src="/static/js/benicio.js"></script>
{% block morescripts %}{% endblock %}
</body>
</html>
