{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="span3">
        <h4>Admin Actions</h4>
        <ul class="admin-list">
            <li>
                <div class="accordion" id="change-password">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#change-password"
                               href="#form-change-pass">Change Admin Password</a>
                        </div>
                        <div id="form-change-pass" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <form class="form-inline" method="POST" action="{{ url_for('index') }}">
                                    {{ form.csrf_token }}
                                    <div class="control-group">
                                        <label class="control-label" for="current_password">Current Password</label>

                                        <div class="controls">
                                            {{ form.current_password }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="new_password">New Password</label>

                                        <div class="controls">
                                            {{ form.new_password }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="retype_password">Retype Password</label>

                                        <div class="controls">
                                            {{ form.retype_password }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="logout">
                <button class="btn btn-primary">Logout</button>
            </a></li>
        </ul>
    </div>
    <div class="span9">
        <h4>Current Config</h4>
        <button id="load-config-button" class="btn btn-info">Load Current Config</button>
        <br/>
        <textarea placeholder="Click in the button above to load the current configuration."
                  class="current-config"></textarea>
    </div>
</div>
{% endblock %}
